body {
    font-family: 'Poppins', sans-serif;
    background-image: url(imagenes/fondos.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .form-container {
    background-color: rgb(176, 190, 253);
    padding: 40px 50px;
    border-radius: 12px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
  }
  
  .form-container h2 {
    margin-bottom: 24px;
    color: #333;
  }

  .btn-volver {
    width: 100%;
    padding: 12px 2px;
    background-color: #ff7b00;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 15px;
  }
  
  .btn-volver:hover {
    background-color: #000000;
    text-decoration: none;
  }
  
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 12px 10px;
    margin-bottom: 20px;
    border: 1px solid #000000;
    border-radius: 8px;
    font-size: 16px;
  }
  input[type="email"] {
    width: 100%;
    padding: 12px 10px;
    margin-bottom: 20px;
    border: 1px solid #000000;
    border-radius: 8px;
    font-size: 16px;
  }
  
  button {
    width: 100%;
    padding: 12px;
    background-color: #ff7b00;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 2px;
  }
  
  button:hover {
    background-color: #000000;
  }
  
  a {
    display: block;
    margin-top: 16px;
    color: #db3e00;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }