<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de Trabajadores</title>
    <link rel="stylesheet" href="/trabajadores.css">
</head>
<body>
    <h1>Trabajadores Registrados:</h1>
    <table>
        <tr>
           <th>Nombre</th>
           <th>Apellido</th>
           <th>DNI</th>
           <th>Correo</th>
       </tr>
       <tr th:each="usuario : ${usuarios}">
           <td th:text="${usuario.usuario}"></td>
           <td th:text="${usuario.apellido}"></td>
           <td th:text="${usuario.dni}"></td>
           <td th:text="${usuario.correo}"></td>
       </tr>
    </table>

    <div class="boton-volver">
        <a href="/index_rest.html" class="btn">Volver al Inicio</a>
    </div>
    
</body>
</html>
